#!version:1.0.0.1 
#################################################### 
## MAC-Oriented CFG File ## 
#################################################### 
##File header "#!version:1.0.0.1" cannot be edited or deleted, and must be placed in 
#the first line. This template file is applicable to 
#SIP-T28P/T26P/T22P/T21P/T20P/T19P/T46G/T42G/T41P IP phones running firmware version 
#72 or later. For more information on configuration parameters, refer to 
#Yealink_SIP-T2_Series_T19P_T4_Series_IP_Phones_Auto_Provisioning_Guide. ##
#######################################################################################
##         	    BSFT Phonebook                                                       ##
#######################################################################################
auto_provision.power_on =1
auto_provision.dhcp_option.enable =0
auto_provision.repeat.enable = 1
auto_provision.repeat.minutes = 720
auto_provision.weekly.enable = 1
auto_provision.server.url =

security.user_password = admin:p4nct$**$
remote_phonebook.data.1.url =
remote_phonebook.data.1.name = Directorio
features.remote_phonebook.enable =1
features.remote_phonebook.enter_update_enable = 1
features.remote_phonebook.flash_time = 3600
local_time.time_zone = -5
#local_time.time_zone = -6
local_time.time_zone_name = United States-Eastern Time
#local_time.time_zone_name = United States-Central Time
local_time.ntp_server1 =
local_time.summer_time = 0
local_time.interval = 1000
local_time.dhcp_time = 1
local_time.manual_time_enable = 0
lang.gui = Spanish

programablekey.1.type = 28
programablekey.1.line = 1
programablekey.1.value = 
programablekey.1.xml_phonebook =
programablekey.1.history_type = 0
programablekey.1.label =

programablekey.2.type = 47
programablekey.2.line = 1
programablekey.2.value = 
programablekey.2.xml_phonebook =
programablekey.2.history_type = 0
programablekey.2.label = Dir

programablekey.3.type = 0
programablekey.3.line = 0
programablekey.3.value =0 
programablekey.3.xml_phonebook =
programablekey.3.history_type = 0
programablekey.3.label = 

programablekey.4.type = 30
programablekey.4.line = 1
programablekey.4.value = 
programablekey.4.xml_phonebook =
programablekey.4.history_type = 0
programablekey.4.label = 

###################################################### 
## Account1 Basic Settings ## 
###################################################### 
account.1.enable = 1
account.1.label =
account.1.display_name =
account.1.auth_name =
account.1.user_name =
account.1.password =
account.1.outbound_proxy_enable = 1
account.1.outbound_host =
account.1.outbound_port = 5060
account.1.sip_listen_port = 5060
account.1.transport = 0
######################################################
## Failback ## 
###################################################### 
account.1.reregister_enable = 1
account.1.naptr_build = 
account.1.fallback.redundancy_type = 
account.1.fallback.timeout = 
account.1.sip_server.1.address =
account.1.sip_server.1.port = 5060
account.1.sip_server.1.expires = 3600
account.1.sip_server.1.retry_counts = 3
account.1.sip_server.1.failback_mode = 
account.1.sip_server.1.failback_timeout = 
account.1.sip_server.1.register_on_enable = 
account.1.sip_server.2.address = 
account.1.sip_server.2.port = 
account.1.sip_server.2.expires = 
account.1.sip_server.2.retry_counts = 
account.1.sip_server.2.failback_mode = 
account.1.sip_server.2.failback_timeout = 
account.1.sip_server.2.register_on_enable = 
account.1.anonymous_call = 0
account.1.send_anonymous_code = 0
account.1.reject_anonymous_call = 0
account.1.send_anonymous_rejection_code = 0
#################################################
#DTMF
######################
account.1.dtmf.type=1
account.1.dtmf.info_type= 2


######################################################
## Account2 Basic Settings (except SIP-T19P Model) ## 
###################################################### 
account.2.enable = 0
account.2.label = 
account.2.display_name =
account.2.auth_name = 
account.2.user_name = 
account.2.password =
account.2.outbound_proxy_enable = 1
account.2.outbound_host = 
account.2.outbound_port = 5060
account.2.sip_listen_port = 5060
account.2.transport = 0
######################################################
## Failback (except SIP-T19P Model) ##
######################################################
account.2.reregister_enable = 0
account.2.naptr_build = 
account.2.fallback.redundancy_type = 
account.2.fallback.timeout = 
account.2.sip_server.1.address = XXX
account.2.sip_server.1.port = 5060
account.2.sip_server.1.expires = 3600
account.2.sip_server.1.retry_counts = 3
account.2.sip_server.1.failback_mode = 
account.2.sip_server.1.failback_timeout = 
account.2.sip_server.1.register_on_enable = 
account.2.sip_server.2.address = 
account.2.sip_server.2.port = 
account.2.sip_server.2.expires = 
account.2.sip_server.2.retry_counts = 
account.2.sip_server.2.failback_mode = 
account.2.sip_server.2.failback_timeout = 
account.2.sip_server.2.register_on_enable = 

dialplan.dialnow.rule.1 =*8
dialplan.dialnow.line_id.1 =
dialplan.dialnow.rule.2 =*97
dialplan.dialnow.line_id.2 =
dialplan.dialnow.rule.3 =*24xxxx
dialplan.dialnow.line_id.3 =
forward.always.enable = 0
features.dnd.enable = 0
phone_setting.phone_lock.enable = 0
phone_setting.phone_lock.lock_key_type =1
phone_setting.phone_lock.unlock_pin = 1234567869
features.dtmf.hide=1
features.normal_refuse_code=603
#!version:1.0.0.1
# 0=disable 1=enabled
features.dnd.allow = 0
features.fwd.allow = 0
push_xml.server =
push_xml.block_in_calling = 1
push_xml.sip_notify = 1
